/* common shared styles */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

html {
  margin: 0;
}
body {
  max-width: 85%;
  margin: 0 auto;
  font-family: "Mulish";
}
:root {
  --theme-color: #ff5400;
  --header-color: #131318;
  --secondary-color: #5a5a5d;
}
h2 {
  color: var(--header-color);
  font-size: 40px;
  font-weight: 800;
}
p {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.btn-primary {
  border-radius: 8px;
  background: var(--theme-color);
  width: 174px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 0;
}
/* nav section styles */
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

nav {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  color: var(--theme-color);
  font-weight: 800;
}
nav .logo h1 {
  font-size: 36px;
}
nav .logo span {
  color: var(--header-color);
}
nav .logo h1 {
  margin: 0;
}
nav ul {
  display: flex;
  gap: 45px;
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
}
nav ul .home {
  color: var(--theme-color);
  font-weight: 700;
}
/* banner section styles */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 0 100px;
  height: 75vh;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
.banner h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.banner p {
  margin: 24px auto 48px;
  width: 676px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.banner form {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner form .field {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
}
.banner form .theme {
  background: var(--theme-color);
  color: #fff;
}
/* popular tours section styles */
.popular {
  display: flex;
  align-items: center;
  gap: 5vw;
}
.popular h2 {
  margin: 0;
}
.popular p {
  margin: 24px 0;
}
.popular li {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0;
}
.popular button {
  margin-top: 32px;
}
/* destination section styles */
.destination {
  margin: 100px 0;
  text-align: center;
}
.destination h2 {
  margin: 0 0 24px;
}
.destination p {
  width: 40vw;
  margin: 0 auto;
}
.gallery {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 40vh);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
#box {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
.gallery-item-1 {
  grid-area: 1 / 1 / 2 / 5;
  background: url("../images/maldives.png");
}
.gallery-item-2 {
  grid-area: 1 / 5 / 2 / 9;
  background: url("../images/indonesia.png");
}
.gallery-item-3 {
  grid-area: 2 / 1 / 3 / 3;
  background: url("../images/srilanka.png");
}
.gallery-item-4 {
  grid-area: 2 / 3 / 3 / 7;
  background: url("../images/north-america.png");
}
.gallery-item-5 {
  grid-area: 2 / 7 / 3 / 9;
  background: url("../images/kashmir.png");
}
.gallery-item-6 {
  grid-area: 3 / 1 / 4 / 4;
  background: url("../images/bangladesh.png");
}
.gallery-item-7 {
  grid-area: 3 / 4 / 4 / 9;
  background: url("../images/bandarban.png");
}
/* why choose us section */
.why-choose-us {
  text-align: center;
  margin: 100px 0;
}
.why-choose-us > p {
  width: 40vw;
  margin: 0 auto;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 1.67vw;
  margin: 48px auto 0;
}
#card img {
  width: 3.33vw;
  height: 6.9vh;
}
#card {
  width: 40vw;
  height: 27vh;
  text-align: left;
  padding: 32px;
}
#card h3 {
  margin: 2.96vh 0 1.4vh;
  color: var(--header-color);
  font-size: 24px;
  font-weight: 800;
}
#card p {
  width: 38vw;
}
.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card-3 {
  margin: 2.8vh auto;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* deals and discount section styles */
.deals-and-discounts {
  text-align: center;
  margin: 100px auto;
}
.deals-and-discounts p {
  width: 40vw;
  margin: 0 auto;
}
.deal {
  margin: 4.4vh;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 70vh;
  border-radius: 16px;
}
.box-1 {
  background: url("../images/kyoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box-2 {
  justify-content: left;
  background: url("../images/phuket.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box-3 {
  background: url("../images/mykonos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box-2 .offer {
  margin-left: 5vw;
}
.deal .offer {
  text-align: left;
  margin-right: 5vw;
  padding: 2.6vw;
  width: 50%;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.top {
  display: flex;
}
.top p {
  margin: 10px;
}
.offer p {
  margin: 0;
  width: 70%;
}
.offer h3 {
  color: var(--header-color);
  font-size: 24px;
  font-weight: 800;
}
.offer h4 {
  color: var(--theme-color);
  font-size: 20px;
  font-weight: 800;
}
.deals-and-discounts > .btn-primary {
  width: 210px;
}
/* video section related styles */
.video {
  margin: 9.25vh auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.video .section-details {
  width: 28vw;
}
.video iframe {
  width: 31vw;
  height: 40vh;
}

.section-details h2 {
  margin: 0;
  width: 23vw;
  color: var(--header-color);
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}
.section-details p {
  margin: 24px 0;
}
.section-details li {
  color: var(--header-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin: 16px 0;
  padding-left: 0.8vw;
}
.section-details button {
  margin-top: 2.9vh;
}
