/* common shared styles */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html {
  margin: 0;
}

header,
main {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "Mulish";
}

:root {
  --theme-color: #ff5400;
  --header-color: #131318;
  --secondary-color: #5a5a5d;
}

h2 {
  color: var(--header-color);
  font-size: 40px;
  font-weight: 800;
}

main p,
header p {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn-primary {
  border-radius: 8px;
  background: var(--theme-color);
  width: 174px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: 0;
}

/* nav section styles */
.logo {
  display: flex;
  gap: 16px;
  align-items: center;
}

nav {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: none;
}

nav .logo {
  color: var(--theme-color);
  font-weight: 800;
}

nav .logo h1 {
  font-size: 36px;
}

nav .logo span {
  color: var(--header-color);
}

nav .logo h1 {
  margin: 0;
}

nav ul {
  display: flex;
  gap: 44px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
}

nav ul .home {
  color: var(--theme-color);
  font-weight: 700;
}

/* banner section styles */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 0 100px;
  height: 500px;
  background: linear-gradient(180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.banner h1 {
  margin: 0;
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}

.banner p {
  margin: 24px auto 48px;
  width: 676px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.banner form {
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.banner form .field {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
}

.banner form .theme {
  background: var(--theme-color);
  color: #fff;
}

/* popular tours section styles */
.popular {
  display: flex;
  justify-content: space-between;
}

.popular h2 {
  margin: 0;
}

.popular p {
  width: 530px;
  margin: 24px 0;
}

.popular .bottom-para {
  margin: 0;
}

.popular ul {
  width: 525px;
  padding-left: 24px;
}

.popular li {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0;
}

.popular button {
  margin-top: 32px;
}

/* destination section styles */
.destination {
  margin: 100px 0;
  text-align: center;
}

.destination h2 {
  margin: 0 0 24px;
}

.destination p {
  width: 643px;
  margin: 0 auto;
}

.gallery {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

#box {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.gallery-item-1 {
  grid-area: 1 / 1 / 2 / 5;
  background: url("../images/maldives.png");
}

.gallery-item-2 {
  grid-area: 1 / 5 / 2 / 9;
  background: url("../images/indonesia.png");
}

.gallery-item-3 {
  grid-area: 2 / 1 / 3 / 3;
  background: url("../images/srilanka.png");
}

.gallery-item-4 {
  grid-area: 2 / 3 / 3 / 7;
  background: url("../images/north-america.png");
}

.gallery-item-5 {
  grid-area: 2 / 7 / 3 / 9;
  background: url("../images/kashmir.png");
}

.gallery-item-6 {
  grid-area: 3 / 1 / 4 / 4;
  background: url("../images/bangladesh.png");
}

.gallery-item-7 {
  grid-area: 3 / 4 / 4 / 9;
  background: url("../images/bandarban.png");
}

/* why choose us section */
.why-choose-us {
  text-align: center;
  margin: 100px 0;
}

.why-choose-us h2 {
  margin: 0;
}

.why-choose-us>p {
  width: 643px;
  margin: 24px auto 48px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 48px auto 0;
}

#card img {
  width: 64px;
  height: 64px;
}

#card {
  width: 509px;
  height: 220px;
  text-align: left;
  padding: 32px;
}

#card h3 {
  margin: 32px 0 16px;
  color: var(--header-color);
  font-size: 24px;
  font-weight: 800;
}

#card p {
  width: 486px;
}

.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  margin: 2.8vh auto;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* deals and discount section styles */
.deals-and-discounts {
  text-align: center;
  margin: 100px auto;
}

.deals-and-discounts h2 {
  margin: 0;
}

.deals-and-discounts p {
  width: 643px;
  margin: 24px auto 48px;
}

.deal {
  width: 1170px;
  height: 500px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 16px;
}

.box-1 {
  margin-top: 24px;
  background: url("../images/kyoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-2 {
  margin-top: 24px;
  justify-content: left;
  background: url("../images/phuket.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-3 {
  margin-top: 24px;
  background: url("../images/mykonos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-2 .offer {
  margin-left: 5vw;
}

.deal .offer {
  text-align: left;
  margin: 56px;
  padding: 50px;
  width: 479px;
  height: 289px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.top {
  display: flex;
  justify-content: space-between;
}

.top p {
  text-align: center;
}

.offer p {
  margin: 0;
  width: 452px;
}

.offer h3 {
  margin: 26px 0 16px;
  color: var(--header-color);
  font-size: 24px;
  font-weight: 800;
}

.offer h4 {
  margin: 16px 0 24px;
  color: var(--theme-color);
  font-size: 20px;
  font-weight: 800;
}

.deals-and-discounts>.btn-primary {
  margin: 48px 0 0;
  width: 210px;
}

/* video section related styles */
.video {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video .section-details {
  width: 532px;
}

.video iframe {
  width: 610px;
  height: 424px;
  border-radius: 16px;
}

.section-details h2 {
  margin: 0;
  width: 448px;
  color: var(--header-color);
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}

.section-details p {
  margin: 24px 0;
}

.section-details ul {
  padding-left: 20px;
  margin: 24px 0 32px;
}

.section-details li {
  color: var(--header-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin: 16px 0 0;
}

.section-details button {
  margin-top: 32px;
  padding: 0;
}

/* newsletter section styles*/
.newsletter {
  width: 1170px;
  display: flex;
  gap: 24px;
  justify-items: space-between;
  align-items: center;
  margin: 100px auto;
}

.form {
  width: 394px;
  height: 342px;
  border: 1px solid var(--theme-color);
  border-radius: 16px;
  padding: 40px;
}

.form h2 {
  margin: 0;
  color: var(--header-color);
  font-size: 24px;
  font-weight: 800;
}

.form p {
  width: 350px;
  margin: 16px 0 24px;
}

.form form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(19, 19, 24, 0.10);
  padding-top: 24px;
}

.form form input {}

.form .text {
  width: 373px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  color: rgba(19, 19, 24, 0.30);
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 16px;
}

.form form input[type="submit"] {
  background: var(--theme-color);
  margin-top: 8px;
  width: 393px;
  height: 52px;
  border-radius: 8px;
  border: none;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}

.newsletter .img {
  width: 672px;
  height: 422px;
  background: url('../images/newsletter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.newsletter .img {
  position: relative;
  display: flex;
}

.newsletter .img .discount {
  position: absolute;
  bottom: 48px;
  right: 8px;
  width: 324px;
  height: 120px;
  text-align: center;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--theme-color);
}

.newsletter .img p {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
}

.newsletter .img span {
  font-size: 32px;
  font-weight: 800;
}

/* footer section styles */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
}

.footer .logo h1 {
  color: var(--theme-color);
  font-weight: 800;
  font-size: 36px;
}

.footer .logo span {
  color: var(--header-color);
}

.footer .logo h1 {
  margin: 0;
}

.footer .footer-details {
  color: var(--secondary-color);
  width: 50%;
  text-align: center;
}

.footer .socials p {
  font-size: 24px;
  color: var(--header-color);
  word-spacing: 32px;
}

hr {
  margin: 50px 0;
  width: 872px;
  border: 1px solid rgba(19, 19, 24, 0.10);
}

.footer p {
  font-family: 'Inter';
  color: var(--header-color);
  font-size: 16px;
  font-weight: 300;

}

@media screen and (max-width: 600px) {
  html {
    margin: 0;
  }

  body {
    max-width: 342px;
    margin: 0 auto;
  }

  header,
  main,
  footer {
    margin: 0;
    padding: 0;
  }

  .btn-primary {
    width: 130px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  nav {
    width: 335px;
    margin: 0 auto 18px;
  }

  nav .logo h1 {
    font-size: 20px;
  }

  nav ul {
    display: none;
  }

  nav .menu {
    display: flex;

  }

  .banner {
    width: 335px;
    margin: 0 auto;
  }

  .banner h1 {
    font-size: 22px;
    font-weight: 800;
  }

  .banner p {
    width: 304px;
  }

  .banner form {
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .banner form .field {
    width: 260px;
    height: 52px;
  }

  .popular {
    flex-direction: column;
    gap: 0;
    width: 335px;
    margin: 0 auto;
  }

  .popular h2 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 800;
  }

  .popular p {
    margin: 16px 0;
    width: 335px;
    text-align: left;
  }

  .popular li {
    margin: 12px 0;
  }

  .popular ul {
    padding-left: 20px;
  }

  .btn-primary {
    font-size: 20px;
  }

  .popular button {
    margin: 24px 0;
  }

  .popular img {
    width: 335px;
    margin: 0;
  }

  .destination {
    text-align: center;
    margin: 0 auto;
  }

  .destination h2 {
    margin: 24px auto 16px;
    font-size: 20px;
    font-weight: 800;
  }

  .destination p {
    width: 335px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .gallery {
    display: block;
    margin-top: 16px;
  }

  #box {
    margin: 16px auto;
    width: 335px;
    height: 176px;
  }

  .why-choose-us {
    margin-top: 0;
    margin-bottom: 0;
  }

  .why-choose-us h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }

  .why-choose-us>p {
    width: 335px;
    margin: 0 auto;
  }

  .card-container {
    display: block;
    max-width: 335px;
  }

  #card {
    width: 300px;
    height: 289px;
    padding: 16px;
    margin: 16px auto;
    overflow-y: scroll;
  }

  #card h3 {
    text-align: left;
    margin: 16px 0;
  }

  #card p {
    width: 270px;
    margin: 0;
  }

  #card img {
    width: 48px;
    height: 48px;
  }

  .deals-and-discounts {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .deals-and-discounts h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }

  .deals-and-discounts p {
    width: 309px;
    margin: 0 auto;
  }

  .deal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 340px;
    height: 500px;
    margin: 16px auto;
  }

  .deal .offer {
    padding: 10px;
    width: 280px;
    height: 297px;
    flex-shrink: 0;
    margin: 16px auto;
  }

  .offer p {
    margin: 0;
    width: 254px;
    height: 50px;
    overflow-y: scroll;
    font-size: 14px;
    font-weight: 400;
  }

  .offer .top p {
    display: inline;
    font-size: 16px;
    font-weight: 400;
  }

  .offer .top img {
    width: 24px;
    height: 24px;
  }

  .offer h3 {
    margin: 24px 0;
    font-size: 20px;
    font-weight: 800;
  }

  .offer h4 {
    margin: 12px 0;
    font-size: 16px;
    font-weight: 700;
  }

  .video {
    display: block;
    width: 335px;
    margin: 0 auto;
  }

  .section-details {
    width: 340px;
  }

  .section-details h2 {
    text-align: center;
    width: 248px;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    margin: 0;
  }

  .section-details p {
    width: 300px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
  }

  .section-details ul {
    width: 280px;
    padding-left: 20px;
    margin: 0;
  }

  .section-details .btn-primary {
    margin: 0 0 24px;
  }

  .video iframe {
    width: 335px;
    height: auto;
  }

  .newsletter {
    width: 335px;
    flex-direction: column;
  }

  .form {
    width: 280px;
    height: auto;
    margin: 0 auto;
    padding: 24px;
  }

  .form p {
    width: 270px;
  }

  .form form input {
    width: 260px;
    height: 52px;
  }

  .form button {
    width: 280px;
    height: 52px;
  }

  .newsletter .img {
    display: block;
    width: 335px;
    height: 300px;
    margin-top: 24px;
  }

  .newsletter .img .discount {
    width: 214.023px;
    height: 79.268px;
    transform: rotate(-19.628deg);
  }

  .newsletter .img p {
    font-size: 16px;
  }

  .newsletter .img span {
    font-size: 20px;
  }

  .footer {
    width: 100%;
  }

  .footer .logo span {
    font-size: 20px;
  }

  .footer .logo h1 {
    font-size: 20px;
  }

  .footer p {
    text-align: center;
    width: 287px;
  }

  .footer .footer-details {
    width: 335px;
  }

  .footer .socials p {
    width: 335px;
    text-align: center;
  }
}